body {
  margin: 0;
  background-color: lightyellow;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1350px;
  min-height: 1000px;
  padding: 20px 0px;
  margin: 0 auto;
}
/* .card__item {
  padding: 10px;
  width: 235px;
  margin: 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__item .card__item__img {
  height: 100px;
  background-size: contain;
} */

.card__item {
  padding: 10px;
  width: 100%;
  height: 100px;
  margin: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__item .card__item__img {
  height: 100%;
  background-size: contain;
  background-position: center;
}

.card__item .card__item__area {
  height: 100px;
  width: 50%;
}

.card__item .card__item__name {
  display: flex;
  align-items: center;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;
}
