* {
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.reg {
  display: flex;
  justify-content: center;
}

.message {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1.5px;
}
.formReg {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 10px;
}
form label input,
form label select {
  display: block;
  width: 300px;
  padding: 10px 5px;
  font-size: 14px;
}
form label input:focus-visible {
  outline: none;
}
.formReg label {
  width: 300px;
  margin-bottom: 20px;
}
.field__name {
  margin-bottom: 5px;
}
.field__name span {
  color: red;
}
.formReg__btn {
  width: 150px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  border-style: none;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: greenyellow;
  color: indigo;
  transition: all 0.5s ease;
}
.formReg__btn:hover {
  background-color: rgb(161, 255, 20);
}
.repeatPassword {
  padding: 10px;
  margin-top: 10px;
  word-spacing: 4px;
}
.password__mesage {
  display: none;
  /* padding: 10px; */
  margin-top: 10px;
  word-spacing: 4px;
  /* border: 1px solid blue; */
  border-radius: 10px;
}
.password:focus-visible ~ .password__mesage {
  display: block;
}

.registerInput {
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1rem;
}
